<template id="ts-config-tab">
  <div class="ts-config-tab-scroll">
    <div class="ts-config-panel">
      <div class="ts-config-panel-header">
        <span class="ts-config-panel-title">Potion</span>
        <button class="ts-config-panel-clear" @click="clearPotion">Clear</button>
      </div>
      <div class="ts-config-panel-body">
        <div class="ts-config-panel-empty" v-if="!potionDisplayOptions.length">No thieving potions found.</div>
        <button
          v-for="potion in potionDisplayOptions"
          class="ts-config-option"
          :class="{ 'ts-config-option--selected': potion.isSelected }"
          @click="selectPotion(potion)"
          v-text="potion.itemName"
        ></button>
      </div>
    </div>

    <div class="ts-config-panel">
      <div class="ts-config-panel-header">
        <span class="ts-config-panel-title">Summoning Synergy</span>
        <button class="ts-config-panel-clear" @click="clearSynergy">Clear</button>
      </div>
      <div class="ts-config-panel-body">
        <div class="ts-config-panel-empty" v-if="!synergyDisplayOptions.length">No thieving synergies found.</div>
        <button
          v-for="syn in synergyDisplayOptions"
          class="ts-config-option"
          :class="{ 'ts-config-option--selected': syn.isSelected }"
          @click="selectSynergy(syn)"
        >
          <span class="ts-config-option-name" v-text="syn.name"></span>
          <span class="ts-config-option-desc" v-text="syn.description"></span>
        </button>
      </div>
    </div>

    <div class="ts-config-panel">
      <div class="ts-config-panel-header">
        <span class="ts-config-panel-title">Agility Course</span>
      </div>
      <div class="ts-config-panel-body">
        <div class="ts-config-panel-empty" v-if="!agilitySlots.length">No course loaded.</div>
        <div
          v-for="slot in agilitySlots"
          class="ts-agility-slot"
          :class="{ 'ts-agility-slot--cleared': slot.isCleared }"
        >
          <span class="ts-agility-slot-type" v-text="slot.type === 'obstacle' ? 'Slot ' + slot.slot : 'Pillar'"></span>
          <span class="ts-agility-slot-name" v-text="slot.name"></span>
          <button
            class="ts-agility-slot-clear"
            @click="clearAgilitySlot(slot)"
            v-if="!slot.isCleared"
          >&times;</button>
          <span class="ts-agility-slot-badge" v-if="slot.isCleared">Cleared</span>
        </div>
      </div>
    </div>
  </div>

  <div class="ts-equip-actions">
    <button
      class="ts-btn ts-btn--primary"
      @click="resetAll"
      v-if="hasAnyOverride"
    >Reset All to Imported</button>
  </div>
</template>
